URxvt.background: #000000
URxvt.foreground: #FFFFFF
URxvt.font: xft:JetBrains Mono Nerd Font:size=11
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.transparent: true
URxvt.shading: 20
URxvt.internalBorder: 10

URxvt.color0: #25272C
URxvt.color1: #BA2A2A
URxvt.color2: #008542
URxvt.color3: #F07D30
URxvt.color4: #0088CC
URxvt.color5: #8D4888
URxvt.color6: #006596
URxvt.color7: #53586F
URxvt.color8: #354151
URxvt.color9: #C95F5F
URxvt.color10: #73BA25
URxvt.color11: #EAC06E
URxvt.color12: #81A3CF
URxvt.color13: #B589C2
URxvt.color14: #25B8A5
URxvt.color15: #F6F9FC
